/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-image: url('../img/pattern.png');
    height: 180px;
}

.container{
    margin-top: 20px;
    margin-left: 5px;
}


.container p{
    font-size: 12px;
    color: #808080;
}

.author{
    color:#2daee6;
}
