* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-image: url('../img/pattern.png');
    height: 180px;
}
