/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMPONENTI */
header {
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-image: url('../img/pattern.png');
    height: 180px;
}

div{
    margin-top: 18px;
}

footer{
    margin-top: 30px;
}

/* CLASSI */
.container{
    margin-top: 20px;
    margin-left: 10px;
}


.written{
    font-size: 12px;
    color: #808080;
}

.author{
    color:#2daee6;
}

.description{
    font-size: 12px;
}

.evidence{
    background: #ffff00;
}

/* classe per far "tornare" i pallini della UL */
.list{
    margin-left: 20px;
} 

/* tabella */

.table-head{
    background-color: #20a9e5;
    color: white;
}

.odd{
    background-color: #b1e5f2;
}

.third-column{
    width: 50%;
}

.text-footer{
    color: #818181;
}
